/*---- css reset code ---*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------------------*/

body {
  height: 100vh;
  width: 100vw;
  background-color: hsl(240, 78%, 98%);
  margin: 0;
  padding: 0;
}

/* background svgs */

.bg-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.bg-top {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

/* cards */

.our-pricing {
  font-size: 25px;
  color: hsl(233, 13%, 49%);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: fit-content;
}

.subscription-tenure {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  color: hsl(234, 14%, 74%);
  padding-top: 10px;
}
.subscription-tenure h3 {
  font-size: 15px;
}

/* toggle button */

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle-input {
  display: none;
}

.toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 56px;
  height: 31px;
  border-radius: 17px;
  /* background-color: hsl(236, 72%, 79%); */
  background-color: hsl(237, 63%, 64%);
  cursor: pointer;
  transition: background-color 0.4s ease;
}

.toggle-label:hover {
  background-color: hsl(236, 72%, 79%);
}

.toggle-label:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.4s ease;
}

.toggle-input:checked + .toggle-label {
  background-color: hsl(237, 63%, 64%);
}

.toggle-input:checked + .toggle-label:hover {
  background-color: hsl(236, 72%, 79%);
}

.toggle-input:checked + .toggle-label:before {
  transform: translateX(26px);
}

.price-cards {
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 58px auto;
}

.secondary-card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 400px;
  flex-direction: column;
  background: #fff;
  padding: 1.5rem;
  color: black;
  box-shadow: 2px 2px 23px hsl(234, 14%, 74%);
}

#sc1 {
  border-radius: 12px 0 0 12px;
}

#sc2 {
  border-radius: 0 12px 12px 0;
}

.primary-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 300px;
  display: flex;
  height: 400px;
  flex-direction: column;
  border-radius: 12px;
  background: linear-gradient(
    to bottom,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  padding: 3rem 1.5rem;
  z-index: 5;
  box-shadow: 2px 2px 23px hsl(234, 14%, 74%);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
}

.title,
.secondary-title {
  font-size: 1.2rem;
  line-height: 2rem;
  letter-spacing: -0.12px;
  font-weight: 700;
  color: #fff;
  font-size: 15px;
}

.secondary-title {
  color: hsl(233, 13%, 49%);
}

.dollar {
  font-size: 2rem;
  padding-right: 8px;
}

.price,
.secondary-price {
  font-size: 4rem;
  line-height: 1;
  font-weight: 700;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 0;
}

.secondary-price {
  color: hsl(232, 13%, 33%);
}

hr {
  width: 95%;
}

.lists,
.secondary-lists {
  margin-bottom: 1.5rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  padding-inline-start: 0;
  width: 100%;
  font-size: 15px;
}

.secondary-lists {
  color: hsl(233, 13%, 49%);
}

.secondary-lists hr {
  border: none; /* Remove default border */
  border-top: 2px solid hsl(234, 14%, 74%);
}

.list {
  /* margin-bottom: 0.5rem; */
  padding: 10px;
  display: flex;
  margin-left: 0.5rem #fff;
}

.primary-action,
.secondary-action {
  border: 1px solid transparent;
  outline: none;
  border-radius: 0.3rem;
  background-color: #fff;
  padding: 0.75rem 1.25rem;
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: hsl(237, 63%, 64%);
  width: 95%;
  box-sizing: border-box;
}

.primary-action:hover {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
}

.secondary-action {
  background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: #fff;
  border: 2px solid #fff;
}

.secondary-action:hover {
  border: 2px solid hsl(237, 63%, 64%);
  background: transparent;
  color: hsl(237, 63%, 64%);
  cursor: pointer;
}

@media (max-width: 1100px) {
  .price-cards {
    flex-direction: column;
    height: fit-content;
    gap: 30px;
    margin: 30px auto;
  }

  .primary-card {
    width: 300px;
    height: 400px;
  }

  .secondary-card {
    height: 400px;
    display: flex;
    justify-content: center;
  }

  .bg-bottom {
    display: none;
  }

  #sc1 {
    border-radius: 12px;
  }

  #sc2 {
    border-radius: 12px;
  }

  .price {
    font-size: 3.75rem;
  }
}

@media (max-width: 376px) {
  .primary-card {
    width: 75vw;
    height: auto;
  }

  .secondary-card {
    width: 75vw;
  }

  .price {
    font-size: 3.75rem;
  }
  .secondary-price {
    font-size: 3.75rem;
  }
}
